body {
    font-family: "Arial", "Tahoma", sans-serif;
    font-weight: 400;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.main {
    max-width: 65%;
    order: -1;
}

.aside {
    max-width: 35%;
    background-color: #262626;
    color: #ffffff;
}

.name {
    font-size: 66px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.title {
    position: relative;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.title::after {
    content: "_";
    position: absolute;
    top: -3px;
}

.contacts {
    padding: 30px;
}

.main {
    padding: 50px 30px;
}

.contacts__item {
    margin-bottom: 20px;
}

.contacts__text,
.profile__text,
.education__text,
.skills__text,
.code__link {
    font-size: 24px;
    margin-bottom: 5px;
}

.skills__list {
    column-count: 2;
}

.skills__item {
    margin-bottom: 8px;
}

.contacts__link,
.education__date,
.code__text {
    font-size: 18px;
}

.education__date {
    margin-bottom: 5px;
}

.profile,
.education,
.skills,
.code {
    margin-bottom: 30px;
}

.code__text {
    background-color: #d9d9d9;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-link svg {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.rss-link svg {
    width: 200px;
    height: 110px;
    margin-right: 20px;
}



